/*-------------------------*/
/* banner
---------------------------*/
.banner {
  width: 100%;
  background-image: url('../../assets/images/banner/glass.jpg');
  background-position: center center; ;
  background-size: cover;
  height: 12rem;
  margin-bottom: 2.4rem;
  @media screen and (min-width: $mq768) {
    height: 28rem;
    margin-bottom: 4rem;
  }
  @media screen and (min-width: $mq1024) {
    height: 34rem;
    margin-bottom: 6rem;
  }
  .banner＿inner{
    width: auto;
    display: flex;
    align-items: center;
  }
  .banner＿icon{
    @include width(2.4rem , 2.4rem);
    @media screen and (min-width: $mq768) {
      @include width(4.8rem , 4.8rem);
    }
    @media screen and (min-width: $mq1024) {
      @include width(5.7rem , 5.7rem);
    }
  }
}


