/*-------------------------*/
/* breadcrumb
---------------------------*/
.breadcrumb{
  padding-top: 0.8rem;
  @include center(row, wrap, flex-start , center);
  a{
    @include fontSize(1.4rem , 1.5);
    display: block;
    color: $black;
    @media screen and (min-width: $mq1024) {
      font-size: $font-base;
    }
  }
  a.active{
    color: $primary;
  }
}
.breadcrumb li + li a:before{
  width: 0.1rem;
  content: "/";
  color: $black;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}
