/*-------------------------*/
/* pagination
---------------------------*/
.pagination{
  width: 100%;
  border: 0.1rem solid $text-blog-txt;
  margin: 0.8rem auto 5.6rem auto;
  @media screen and (min-width: $mq768) {
    max-width: 37.2rem;
    margin-top: 0;
    margin-bottom: 9.6rem;
  }
  @media screen and (min-width: $mq1024) {
    margin-bottom: 16rem;
  }
  li + li{
    border-left: 0.1rem solid $text-blog-txt;
  }
  .page-item{
    transition: all .3s;
    flex-grow: 1;
    text-align: center;
  }
  .page-link{
    display : block;
    color:#555;
    @media screen and (min-width: $mq375) {
      padding: 1rem 1.2rem;
    }
    @media screen and (min-width: $mq768) {
      font-size: 1.8rem;
    }
  }
  .previous,.next{
    flex-grow: 2;
  }
  .next{
    background-color: $fourthly;
  }
}

// 狀態
.page-item:hover{
  background-color: $black ;
  .page-link{
    color: $text-white;
  }
}
.page-item.active{
  background-color: $black ;
  .page-link{
    color: $text-white;
  }
}
.previous:hover,.next:hover{
  background-color:$fourthly;
  .page-link{
    color: $text-black;
  }
}
