/*-------------------------*/
/* footer
---------------------------*/
.footer{
  padding: 2.4rem 0;
  @media screen and (min-width: $mq768) {
    padding-top: 3.2rem;
    padding-bottom: 2rem;
  }
  @media screen and (min-width: $mq1024) {
    padding-bottom: 4rem;
  }
  .footerNav {
    margin-bottom: 1.8rem;
    @media screen and (min-width: $mq1024) {
      padding: 1.2rem;
    }
  }
  .socialGroup{
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: unset;
  }
}
// 聯絡清單 
.linkGroup＿item{
  margin-bottom: 0.6rem;
  @media screen and (min-width: $mq768) {
    margin-bottom: 1.2rem;
  }
  @media screen and (min-width: $mq1024) {
    margin-bottom: 1.6rem;
  }
  &:last-child{
    margin-bottom: 2.4rem;
    @media screen and (min-width: $mq768) {
      margin-bottom: 2rem;
    }
    @media screen and (min-width: $mq1024) {
      margin-bottom: 2.4rem;
    }
  }
  img{
    @include width(2.4rem , 2.4rem);
    @media screen and (min-width: $mq1024) {
      @include width(4.8rem , 4.8rem);
    }
  }
  a{
    @media screen and (min-width: $mq768) {
      font-size:$font-m;
    }
    @media screen and (min-width: $mq1024) {
      font-size: 3.6rem;
    }
  }
}
// copyright
.copyright{
  border-top: 0.1rem solid $white;
  .logo{
    @include width(4.6rem , 2.8rem);
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    @media screen and (min-width: $mq768) {
      display: none;
    }
    @media screen and (min-width: $mq1024) {
      @include width(8rem , 4.9rem);
      display: block;
      right: auto;
      bottom: auto;
      top: 2.4rem;
      left: 0;
    }
  }
  .copyright＿text {
    color: $text-white;
    font-size: $font-s;
    padding-top: 1.6rem;
    @media screen and (min-width: $mq768) {
      font-size: 1.6rem;
      padding-top: 2.4rem;
    }
    @media screen and (min-width: $mq1024) {
      padding-top: 4rem;
      padding-left: 11.8rem;
    }
  }
}


