.header {
  background-color: $primary;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  @media screen and (min-width: $mq768) {
    position: sticky;
  }
  .container{
    max-width: 192rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media screen and (min-width: $mq768) {
      padding: 3rem 4rem;
    }
    @media screen and (min-width: $mq1024) {
      padding: 3rem 8.8rem;
    }
  }
  .hamburgerIcon {
    @include width(2.4rem , 2.4rem);
    position: absolute;
    top: 50%;
    left: 1.6rem;
    color: $white;
    transform: translateY(-50%);
    @media screen and (min-width: $mq768) {
      display: none;
    }
  } 
  .logo {
    @include width(4.8rem , 3rem);
    @media screen and (min-width: $mq768) {
      @include width(8rem , 4.9rem);
    }
  }
  .mater-close{
    display:none;
  }
}
.nav{
  &＿inner{
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    width: 0;
    height: calc(100vh - 5rem);
    z-index: 900;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    text-align: center;
    transform: translateX(-100%);
    transition:  
      transform .3s ease-in-out,
      width .3s ease-in-out;
    background-color: $primary;
    @media screen and (min-width: $mq768) {
      @include width(auto , auto);
      position: relative;
      top: 0;
      left: unset;
      right: 0;
      transition: initial;
      transform: translateX(0);
    }
  }
  &＿menu {
    width: 80%;
    margin: 3rem auto;
    @media screen and (min-width: $mq768) {
      width: auto;
      margin: 0;
    }
  }
  &＿menu > li {
    font-size: $font-m;
      @media screen and (min-width: $mq768) {
        margin-right: 4rem;
    }
      @media screen and (min-width: $mq1024) {
        margin-right: 6.4rem;
    }
    &:last-child {
      @media screen and (min-width: $mq768) {
        margin-right: 0rem;
      }
    }
  }
  &＿item {
    display: block;
    overflow: hidden;
    border-bottom: 0.1rem solid rgb(135, 14, 14);
    padding: 1.2rem 0;
    position: relative;
    @media screen and (min-width: $mq768) {
      border-bottom: 0rem solid $white;
      padding: 0.8rem 0;
    }
    @media screen and (min-width: $mq1024) {
      &:before{
        content: " ";
        position: absolute;
        width: 0%;
        height: 0.2rem;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background-color: $thirdly;
        transition: all 0.8s;
      }
      &:hover::before{
        width: 100%;
      }
    }
  }
}
.menuGroup.active{
  .nav＿close::before{
    @include width(100% , 100vh);
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background-color: lighten($black, 25%);
    opacity: 0.9;
    z-index: 400;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .nav＿inner{
    width: 80vw;
    transform: translateX(0);
  }
  .mater-menu{
    display:none;
  }
  .mater-close{
    display: block;
  }
}
.socialGroup {
  position: relative;
  margin: 2.5rem 0;
  text-align: center;
  bottom: 0;
  right: 2rem;
  z-index: 10;
  &＿item {
    @include width (2.4rem , 2.4rem);
    @media screen and (min-width: $mq1024) {
      @include width(4.8rem , 4.8rem);
    }
  }
}
