<footer class="footer bg-primary">
  <div class="container position-relative">
    <div class="row">
      <!-- 導覽列 -->
      <ul class="footerNav d-none d-md-flex">
        <li><a class="footerNav＿item me-5 me-lg-6" href="index.html">首頁</a></li>
        <li><a class="footerNav＿item me-5 me-lg-6" href="products.html">系列鏡框</a></li>
        <li><a class="footerNav＿item me-5 me-lg-6" href="store.html">門市據點</a></li>
        <li><a class="footerNav＿item me-5 me-lg-6" href="blog.html">部落格</a></li>
        <li><a class="footerNav＿item" href="qa.html">常見問題</a></li>
      </ul>
      <!-- 社群清單 -->
      <ul class="socialGroup d-flex m-0">
        <li class="socialGroup＿item me-3">
          <a href="javascript:;">
            <img src="./assets/images/index/icon-fb.svg" alt="icon-fb">
          </a>
        </li>
        <li class="socialGroup＿item me-3">
          <a href="javascript:;">
            <img src="./assets/images/index/icon-ig.svg" alt="icon-ig">
          </a>
        </li>
        <li class="socialGroup＿item">
          <a href="javascript:;">
            <img src="./assets/images/index/icon-line.svg" alt="icon-line">
          </a>
        </li>
      </ul>
      <!-- 聯絡清單 -->
      <ul class="linkGroup">
        <li class="linkGroup＿item d-flex align-items-center">
          <img class="me-2" src="./assets/images/index/icon-phone.svg" alt="電話">
          <a href="tel:0800-000-000">0800-000-000</a>
        </li>
        <li class="linkGroup＿item d-flex align-items-center">
          <img class="me-2" src="./assets/images/index/icon-mail.svg" alt="信箱">
          <a href="mailto:glasses@business.com">glasses@business.com</a>
        </li>
      </ul>
    </div>
    <!-- copyright -->
    <div class="copyright position-relative">
        <a href="index.html" class="logo">
          <img src="./assets/images/index/logo@2x.png" alt="logo" title="GlassesLogo">
        </a>
        <div class="copyright＿text d-md-flex justify-content-between">
          <p class="mb-1 mb-md-0">Copyright © 2020 Glasses.All rights reserved.</p>
          <div class="d-md-flex">
            <p class="mb-1 mb-md-0 me-md-3">隱私權政策</p>
            <p class="">服務條款</p>
          </div>
        </div>
    </div>
  </div>
</footer>



