<header class="header">
  <div class="container position-relative">
    <div class="row">
      <div class="menuGroup d-md-flex justify-content-md-between js-open">
        <a href="#" class="hamburgerIcon js-ham">
          <span class="material-icons mater-menu">menu</span>
          <span class="material-icons mater-close">close</span>
        </a>
        <h1 class="text-center lh-0" title="GlassesLogo">
          <a href="index.html" class="logo d-inline-block">
            <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true" alt="logo">
          </a>
        </h1>
        <nav class="nav">
          <a href="javascript:;" class="nav＿close js-close"></a>
          <div class="nav＿inner">
            <ul class="nav＿menu d-md-flex justify-content-md-between">
              <li><a class="nav＿item text-white" href="products.html">系列鏡框</a></li>
              <li><a class="nav＿item text-white" href="store.html">門市據點</a></li>
              <li><a class="nav＿item text-white" href="blog.html">部落格</a></li>
              <li><a class="nav＿item text-white" href="qa.html">常見問題</a></li>
            </ul>
            <!-- socialGroup -->
            <ul class="socialGroup d-flex justify-content-end d-md-none">
              <li class="socialGroup＿item me-3">
                <a href="#">
                  <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-fb.svg" alt="icon-fb">
                </a>
              </li>
              <li class="socialGroup＿item me-3">
                <a href="#">
                    <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-ig.svg" alt="icon-ig">
                </a>
              </li>
              <li class="socialGroup＿item">
                <a href="#">
                  <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-line.svg" alt="icon-line">
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>




