/*-------------------------*/
/* blog_inPage
---------------------------*/
.blogArticle{
  padding-bottom: 5.6rem;
  @media screen and (min-width: $mq768) {
    padding-bottom: 9.6rem;
  }
  @media screen and (min-width: $mq1024) {
    padding-bottom: 16rem;
  }
}
//文章區塊
.articleList＿header{
  margin-bottom: 2rem;
  @media screen and (min-width: $mq768) {
    margin-bottom: 2.4rem;
  }
  .tag{
    font-size: $font-s;
    @media screen and (min-width: $mq768) {
      font-size: $font-base;
    }
    @media screen and (min-width: $mq1024) {
      font-size: $font-l;
    }
  }
  .title{
    @include fontSize(2rem , 1.5);
    @media screen and (min-width: $mq768) {
      font-size: $font-xl ;
      margin-bottom: 0.4rem;
    }
    @media screen and (min-width: $mq1024) {
      font-size: $font-2xl ;
      margin-bottom: 0.8rem;
    }
  }
  .category{
    font-size: $font-s;
    @media screen and (min-width: $mq768) {
      font-size: $font-base;
    }
    @media screen and (min-width: $mq1024) {
      font-size: 2.8rem;
    }
  }
  .data{
    font-size: $font-s;
    @media screen and (min-width: $mq1024) {
      font-size: $font-base;
    }
  }
}
//圖片區塊
.articleList＿body{
  .articleList＿item{
    margin-bottom: 2.4rem;
    @media screen and (min-width: $mq1024) {
      margin-bottom: 4rem;
    }
  }
  .imgBox{
    padding-bottom: 65.333%;
    margin-bottom: 1.6rem;
    @media screen and (min-width: $mq1024) {
      margin-bottom: 2.4rem;
    }
  }
  .imgBox＿fit{
    @include width(100% , 100%);
    position: absolute;
    top: 0;
    left: 0;
  }
  .image{
    width: 100%;
    display: block;
    object-fit: cover;
    height: inherit;
  }
  p{
    color: $text-blog-txt;
    @media screen and (min-width: $mq1024) {
      font-size: $font-m ;
    }
  }
}
//分享區塊
.articleList＿footer{
  padding-top: 0.8rem;
  .share{
    margin-bottom: 1.6rem;
    @media screen and (min-width: $mq768) {
      margin-bottom: 2rem;
    }
  }
  span{
    @media screen and (min-width: $mq1024) {
      font-size: $font-m;
    }
  }
  .icon{
    @include width(2rem , 2rem);
    @media screen and (min-width: $mq1024) {
      @include width(2.4rem , 2.4rem);
    }
  }
  .articlePagination{
    border-top: 0.1rem solid $black;
    padding-top: 1rem;
    @media screen and (min-width: $mq768) {
      padding-top: 1.6rem;
    }
    @media screen and (min-width: $mq1024) {
      padding-top: 2.4rem;
    }
  }
  a{
    font-size: $font-s;
    @media screen and (min-width: $mq1024) {
      font-size: $font-base;
    }
    @media screen and (min-width: $mq1024) {
      font-size: 1.9rem;
    }
  }
}
//asideTags
.asideTags{
  padding-top: 3rem;
  @media screen and (min-width: $mq768) {
    padding-top: 2.4rem;
  }
  @media screen and (min-width: $mq1024) {
    padding-top: 3.6rem;
  }
  .asideTags＿title{
    margin-bottom: 0.8rem;
    align-items: center;
    @media screen and (min-width: $mq768) {
      margin-bottom: 0.4rem;
    }
    @media screen and (min-width: $mq1024) {
      margin-bottom: 0.9rem;
    }
  }
  .icon-tag{
    @include width(2.4rem , 2.4rem);
    @media screen and (min-width: $mq1024) {
      @include width(4.8rem , 4.8rem);
      margin-right: 0.8rem;
    }
  }
  .asideTags＿txt{
    @include fontSize(2rem , 2.6rem);
    color: $primary;
    font-weight: 900;
    @media screen and (min-width: $mq1024) {
      @include fontSize(2.8rem , 3.7rem);
    }
  }
  span{
    color: $primary;
    font-weight: 500;
    margin-right: 0.8rem;
    @media screen and (min-width: $mq768) {
      &:nth-last-child(1),
      &:nth-last-child(2){
        order: 2;
      }
      &:nth-last-child(3),
      &:nth-last-child(4),
      &:nth-last-child(5){
        order: 3;
        margin-right: 1.6rem;
      }
    }
    @media screen and (min-width: $mq1024) {
      font-size: $font-l;
      margin-bottom: 0.8rem;
    }
  }
}
