* {
	outline: 1px solid red;
}

.subtitle {
	font-size: $font-l;
	line-height: 1.5;
	margin-bottom: 2rem;
	@media screen and (min-width: $mq768) {
		font-size: $font-xl;
	}
	@media screen and (min-width: $mq1024) {
		font-size: $font-2xl;
	}
}
/*-------------------------*/
/* heroImage
---------------------------*/
.heroImage {
  background-image: url("../../assets/images/index/banner-375.png");
  height: 39.4rem;
  @media screen and (min-width: $mq768) {
		background-image: url("../../assets/images/index/banner-768.png");
    height: 84rem;
  }
  @media screen and (min-width: $mq1024) {
		background-image: url("../../assets/images/index/banner.png");
  }
  &＿inner {
    text-align: right;
		line-height: 1.5;
  }
  span:first-child{
		font-size: 1.6rem;
		display: block;
    @media screen and (min-width: $mq768) {
			font-size: $font-m ;
    }
    @media screen and (min-width: $mq1024) {
			font-size: 3.6rem ;
    }
  }
  .heroImage＿title{
		font-size: $font-xl ;
    @media screen and (min-width: $mq768) {
			font-size: $font-2xl ;
    }
    @media screen and (min-width: $mq1024) {
			font-size: $font-3xl ;
    }
  }
}
/*-------------------------*/
/* profession
---------------------------*/
.profession {
  background-color: $thirdly;
	padding-top: 3.2rem ;
	padding-bottom: 0.8rem ;
	@media screen and (min-width: $mq768) {
		padding-top: 4rem ;
		padding-bottom: 2.4rem ;
  }
	@media screen and (min-width: $mq992) {
		padding-top: 6rem ;
		padding-bottom: 8rem ;
  }
	.itemGroup＿item{
		max-width: 28.5rem;
		> .icon{
			color: $secondary;
			font-size: 10rem;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1.6rem ;
		}
	}
}





