/*-------------------------*/
/* heroImage
---------------------------*/
.heroImage {
	background-image: url("../../assets/images/index/banner1920.jpg");
  height: 39.4rem;
  @media screen and (min-width: $mq768) {
    height: 84rem;
  }
  &＿inner {
    text-align: right;
		line-height: 1.5;
  }
  span:first-child{
		font-size: 1.6rem;
		display: block;
    @media screen and (min-width: $mq768) {
			font-size: $font-m ;
    }
    @media screen and (min-width: $mq1024) {
			font-size: 3.6rem ;
    }
  }
  .heroImage＿title{
		font-size: $font-xl ;
    @media screen and (min-width: $mq768) {
			font-size: $font-2xl ;
    }
    @media screen and (min-width: $mq1024) {
			font-size: $font-3xl ;
    }
  }
}
/*-------------------------*/
/* profession
---------------------------*/
.profession {
	@extend %box;
	.itemGroup＿item{
		max-width: 28.5rem;
		> .material-icons-outlined{
			color: $secondary;
			font-size: 10rem;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1.6rem ;
		}
		p{
			text-align: left;
		}
	}
}
/*-------------------------*/
/* classic
---------------------------*/
.classic{
	@extend %box;
	.glassGroup{
		&＿item{
			position: relative;
		}
	}	
	.imgBox{
		width: 100%;
		height: 13.4rem;
		cursor: pointer;
		@media screen and (min-width: $mq768) {
			width: 39rem;
			height: 16.8rem;
		}
		@media screen and (min-width: $mq992) {
			width: 100%;
			height: 32rem;
		}
		@media screen and (min-width: $mq1200) {
			width: 63.5rem;
			height: 32rem;
		}
		&.optical{
			background-image: url("../../assets/images/index/product-1.png");
		}
		&.sunglasses{
			background-image: url("../../assets/images/index/product-2.png");
			transition: all .3s;
			&:hover{
				background-image: url("../../assets/images/index/product-2-color.png");
			}
		}
		&.functional {
			background-image: url("../../assets/images/index/product-3.png");
		}
	}
	.txt{
		@include center(row, nowrap, center, center);
		@include posCenter();
		@media screen and (min-width: $mq768) {
			position: relative;
			top: 0;
			left: 0;
			transform: translate(0%, 0%);
			justify-content: flex-start;
		}
		@media screen and (min-width: $mq992) {
			justify-content: center;
		}
		@media screen and (min-width: $mq1024) {
			justify-content: flex-start;
		}
		.glass＿icon{
			font-size: 4rem;
			@media screen and (min-width: $mq1024) {
				font-size: 4.4rem;
			}
		}
		h3{
			@include fontSize(2.8rem , 1.5);
			letter-spacing: 0.1rem;
			@media screen and (min-width: $mq1024) {
				font-size: $font-2xl;
			}
		}
	}
}
/*-------------------------*/
/* jointDesign
---------------------------*/
.jointDesign{
	@extend %box;
  background-image: url("../../assets/images/index/bg.png");
	.jointBlock＿item{
		padding-top: 84.347%;
		display: block;
		position: relative;
		@media screen and (min-width: $mq768) {
			padding-top: 84.259%;
		}
		&::before {
			width:100%;
			height: 100%;
			content: "";
			background-color: $white;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.5;
			transition: .3s;
		}
		&:hover{
			&::before {
				opacity: 0;
			}
		}
	}	
}
.jointBlock＿item{
	h3{
		@include fontSize(3.2rem , 1.5);
		@include posCenter();
		width: 100%;
		text-align: center;
		@media screen and (min-width: $mq1024) {
			font-size: 7.2rem;
		}
	}
	&.Double{
		background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-8.png");
	}
	&.YOUTH{
		background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-9.png");
	}
}
/*-------------------------*/
/* quote
---------------------------*/
.quote{
	@extend %box;
}
.quoteGroup＿item{
	.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
		border-radius: 0.4rem;
		overflow: hidden;
		box-shadow: 0px 0.2rem 0.6rem #00000029;
	}
	img{
    height: 25.6rem;
    object-fit: cover;
  }
}
.quote＿content{
	min-height: 20.4rem;
	flex: 1 1 auto;
  text-align: left;
  border: 1px solid #DEE2E6;
  border-top: 0px;
  background-color: $white;
	color: $text-thirdly;
	display: flex;
	flex-direction: column;
	align-content: space-between;
  .quoteName{
		@include fontSize(1.4rem , 1.5);
  }
  .quoteText{
		flex: 1 1 auto;
  }
  .quoteDay{
		@include fontSize(1.4rem , 1.5);
		color: $text-fourthly;
  }
}
/*-------------------------*/
/* contact
---------------------------*/
.contact{
	@extend %box;
}
.form{
  p{
    @media screen and (min-width: $mq1024) {
      margin-bottom: 2rem !important;
			font-size: $font-m;
    }
  }
	label{
		display: block;
		margin-bottom: 0.4rem;
		font-size: $font-s;
		@media screen and (min-width: $mq1024) {
			font-size: 1.6rem;
		}
	}
	input{
		@extend %base_set;
		display: block;
	}
	textarea{
		@extend %base_set;
		min-height: 13.6rem;
		resize:none;
		overflow-y: auto;
		display: block;
	}
	.btn-submit{
		width: 100%;
		max-width: 16.5rem;
		border: none;
		background-color: $primary;
		padding: 0.7rem 0rem;
		color: $text-white;
		cursor: pointer;
		user-select: none;
		transition: background .3s;
		font-weight: 500;
		line-height: 1.5;
		display: block;
		@media screen and (min-width: $mq768) {
			max-width: 21rem;
		}
		@media screen and (min-width: $mq1024) {
			max-width: 35rem;
			padding: 1.5rem 0rem;
		}
		&:hover{
			background-color: $secondary;
		}
	}
}
.group-checkbox{
	margin-bottom: 2rem;
	padding-left: 2.4rem;
	position: relative;
	@media screen and (min-width: $mq1024) {
		margin-bottom: 4rem;
	}
	//input消失
	input{
		width: 10px;
		opacity: 1;
		position: absolute;
		z-index: -1;
		top: 0.5rem;
		left: 0.5rem;
	}
	label{
		width: 100%;
		margin-bottom: 0;
		cursor: pointer;
	}
	&::before {
		content: "";
		position: absolute;
		@include width(2rem , 2rem);
		border: 0.1rem solid black;
		left: 0;
		top: 0.2rem;
	}
}
//custom input
.form-check-label{
	&::before , &::after{
		content: "";
		position: absolute;
		background-color: $primary;
		transform: rotate(45deg);
		display: none;
	}
	&::before{
		@include width(0.3rem ,0.9rem);
		top: 0.6rem;
		left: 1.1rem;
	}
	&::after {
		@include width(0.6rem ,0.3rem);
		top: 1.1rem;
		left: 0.5rem;
	}
}
.use-checkbox:checked + .form-check-label::after, 
.use-checkbox:checked + .form-check-label::before {
  display: block;
}






