
.bg-white{
	background-color:$white;
}
.bg-dark{
	background-color:$black;
}
.bg-primary{
	background-color: $primary ;
}
.bg-secondary{
	background-color: $secondary;
}
.bg-thirdly{
	background-color: $thirdly;
}
.bg-cover{
	background-size: cover;
  background-position: center center; 
}
