.text-uppercase {
  text-transform: uppercase;
}
.text-italic {
  font-style: italic;
}
.text-normal {
  font-style: normal;
}
.text-white {
  color: $white;
}
.text-black {
  color: $black;
}
.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}
.text-center {
  text-align: center;
}
.fw-400{
	font-weight: 400;
}
.fw-500{
	font-weight: 500;
}
.fw-700{
	font-weight: 700;
}
.fw-900{
	font-weight: 900;
}
.lh-0{
	line-height: 0;
}
.lh-sm{
	line-height: 24px;
}
.lh-m{
	line-height: 30px;
}
.lh-l{
	line-height: 36px;
}
