// 水平置中
@mixin center($direction: row, $wrap: wrap, $main-center:center, $sub-center:center) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $main-center;
    align-items: $sub-center;
}
// 文字顏色
@mixin textColor($color) {
    color: $color;
}
// 文字大小／行距
@mixin fontSize($size , $height) {
    font-size: $size;
    line-height: $height;
}
// 物件寬高
@mixin width($width , $height) {
    width: $width;
    height: $height;
}
@mixin posCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
// fa設定
%fa-set{
  @include width(3.9rem , 2.4rem);
  @include fontSize(2.4rem , 2.4rem);
  color: $text-black;
}
%flex-shrink{
  flex-shrink: 0;
  order: 1;
}
//消除藍框
%focus{
  outline: none;
}
%base_set{
  width: 100%;
  border: 0.1rem solid $black ;
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  @media screen and (min-width: $mq1024) {
    padding: 1.5rem 1.6rem;
  }
}
%box{
	padding-top: 3.2rem ;
	padding-bottom: 4rem ;
	@media screen and (min-width: $mq768) {
		padding-top: 4rem ;
		padding-bottom: 5.6rem ;
  }
	@media screen and (min-width: $mq992) {
		padding-top: 6rem ;
		padding-bottom: 8rem ;
  }
}

