/*-------------------------*/
/* title
---------------------------*/
.subtitle {
	font-size: $font-l;
	line-height: 1.5;
	margin-bottom: 2rem;
	@media screen and (min-width: $mq768) {
		font-size: $font-xl;
	}
	@media screen and (min-width: $mq1024) {
		font-size: $font-2xl;
	}
}
.caption{
  @include fontSize(2.8rem , 1.5);
  @media screen and (min-width: $mq768) {
    font-size: $font-2xl;
  }
}
